<!--<p>This is the partial for product details view.</p>-->
<!-- content for first column-->

<div class="col-md-6" align="center">
      <div class="col-size">
            <!-- display product title-->
            <div class="div-title">{{product.title}}</div>
            <!-- display product primary image-->
            <div class="image">
           		<img ng-src="{{primaryImage}}" style="width:70%">
            </div>
            <!-- display carousel to scroll secondary images-->
            <div style="width:60%;">
            	<slick focusOnSelect="true" autoplay="true" autoplaySpeed="1000" dots="false" infinite="false" speed="300" slides-to-show="3" touch-move="false" slides-to-scroll="1" init-onload=true data="product.Images[0].AlternateImages">
                	<div  ng-repeat="altimage in product.Images[0].AlternateImages">
                    	<img ng-src="{{altimage.image}}" style="width:100%" ng-click="changePrimaryImage(altimage.image)"/>
                    </div>
                </slick>
            </div>
            <!-- display overall star rating and no of reviews-->
            <div class="row div-rating">
            	<span style="float:left;">
                	<span style="font-size:1.5em;" uib-rating ng-model="overallRating" max="max" read-only="isReadonly" aria-labelledby="default-rating">
                	</span>
                    <b>
                    	overall
                    </b>
                </span> 
                <span style="float:right; margin-top:8px">
                    <b>
                    	<a href="#" style="color:#000;">
                    		view all {{product.CustomerReview[0].totalReviews}} reviews
                    	</a>
                    </b>
                </span>
            </div>
            <!-- review section -->
            <div class="row div-review">
            	<div class="span6">
                	<!-- display pro review-->
                    <div class="span3 div-pro">
                    	<h4>
                    		PRO
                    	</h4>
                        Most helpful 4-5 star review
                        <hr/>
                        <span uib-rating ng-model="proRating" max="max" read-only="isReadonly" aria-labelledby="default-rating"></span>
                        <h4>
                        	{{product.CustomerReview[0].Pro[0].title}}
                        </h4>
                        <p align="left">
                        	{{product.CustomerReview[0].Pro[0].review}}
                        </p>
                        <p>
                        	<a href="#">
                        		{{product.CustomerReview[0].Pro[0].screenName}}
                        	</a> 
                        	{{proDate | date}}
                        </p>    
                    </div>
                    <!-- display con review-->
                    <div class="span3 div-con">
                        <h4>
                        	CON
                        </h4>
                        Most helpful 1-2 star review
                        <hr/>
                        <span uib-rating ng-model="conRating" max="max" read-only="isReadonly" aria-labelledby="default-rating"></span>
                        <h4>
                        	{{product.CustomerReview[0].Con[0].title}}
                        </h4>
                        <p>
                        	{{product.CustomerReview[0].Con[0].review}}
                        </p>
                        <p>
                        	<a href="#">
                        		{{product.CustomerReview[0].Con[0].screenName}}
                        	</a> 
                        	{{conDate | date}}
                        </p> 
                    </div>
      			</div>
            </div>
       </div>
</div>

<!-- content for second column-->
<div class="col-md-6" align="center">
  	   <div class="col-size">
            <!-- Display Price -->
            <div align="left" style="margin-top:5px">
                <span class="price">
                	{{product.Offers[0].OfferPrice[0].formattedPriceValue}}
                </span>
                online price
            </div>
            <hr/>
            <!-- Display Promotions using ng-repeat on angular data-->
            <div ng-repeat="promotion in product.Promotions">
                  <p class="promo">
                     <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                     {{promotion.Description[0].shortDescription}}
                  </p>
            </div>
            <hr/>
            <!-- Display Quantity Control-->
            <div class="input-group col-xs-2 btn-qty" style="float:left;margin-top:0.1cm">
                <div class="input-group-addon lbl-qty">
                	quantity:
                </div>
	            <span class="input-group-btn">
    	        	<button type="button" class="btn btn-default btn-number ctrl-qty"  disabled="disabled" data-type="minus" data-field="quant[1]">
        	        	<span class="glyphicon glyphicon-minus-sign" style="font-size:28px;"></span>
            	    </button>
                </span>
                <input type="text" name="quant[1]" class="form-control input-number input-lg input-qty" value="1" min="1" max="10" style="width: 50px; background: none" readonly>
                <span class="input-group-btn">
                	<button type="button" class="btn btn-default btn-number ctrl-qty" data-type="plus" data-field="quant[1]">
                    	<span class="glyphicon glyphicon-plus-sign" style="font-size:28px;"></span>
                    </button>
                </span>
          	</div>
           
            <!-- Display ADD TO CART and PICKUP IN STORE Buttons-->
            <div style="clear:left;margin-top:2.5cm" align="left">
           		<button type="button" class="btn btn-default .btn-lg btn-pickup" ng-if="product.purchasingChannelCode==0 || product.purchasingChannelCode==2">
           			PICK UP IN STORE
           		</button>
                <button type="button" class="btn btn-default .btn-lg btn-cart" ng-if="product.purchasingChannelCode==0 || product.purchasingChannelCode==1">
                	ADD TO CART
                </button>
                <p align="left" style="margin-left:1.8cm" ng-if="product.purchasingChannelCode==0 || product.purchasingChannelCode==2">
                	<a href="#" style="color:#000;">
                		find in a store
                	</a>
                </p>
            </div>
           
            <!-- Display RETURN policy details-->
            <div style="clear:left; margin-top:0.5cm" align="left">
               <span style="font-size:1.5em; float:left">
               		returns | 
               </span>
               <span style="font-size:.8em;">
               		<p class="p-return">
               			This item must be returned within 30days of the ship date. See return policy for details. 
                		Prices, promotions, styles and availability may vary by store and onine
                	</p>
               </span>
            </div>

           <!--Display ADD TO and SHARE button-->
           <div style="margin-top:0.8cm;" align="left">
               <button type="button" class="btn btn-default .btn-lg" style="background-color:#F1F1F1;border:none;width:145px">
               		ADD TO REGISTRY
               </button>
               <button type="button" class="btn btn-default .btn-lg" style="background-color:#F1F1F1;border:none;width:145px">
               		ADD TO LIST
               </button>
               <button type="button" class="btn btn-default .btn-lg" style="background-color:#F1F1F1;border:none;width:145px">
               		SHARE
               </button>
           </div>

            <!-- Display Product features using ng-repeat on angular data-->
            <div align="left">
               <h3 class="h3-features" style="">
                	product highlights
               </h3>
               <ul>
                   <li ng-repeat="feature in product.ItemDescription[0].features">
                   		<div compile-html="feature"></div>
                   </li>
               </ul>
            </div>
       </div>   
</div> 

<script src="/modules/product_details/qty_ctrl_plugin.js">
</script>
